<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="serviciosP1SOAP" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/serviciosMTIS/services/serviciosP1/"
                binding="basicHttpBinding" bindingConfiguration="serviciosP1SOAP"
                contract="ServiciosP1.serviciosP1" name="serviciosP1SOAP" />
        </client>
    </system.serviceModel>
</configuration>